.alert {
    height: 25px;
    width: 400px;
    padding: 10px 25px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.success {
    color: #0f5132;
    background-color: #d1e7dd;
    border: 2px solid #a4c2b6;
}

.danger {
    color: #842029;
    background-color: #f8d7da;
    border: 2px solid #f5c2c7;
}

.button {
    border-radius: 5px;
    color: #fff;
    width: 70px;
    height: 25px;
    background: #0d6efd;
    border: 2px solid #0a49b6;
}
